<!-- 🍱🍔🍟🍕🌭🍿🍜🍜🥘🍨🍹🍸🍷🍰 -->
{% load static %}
{% load cart %}



<div class="modal fade" id="Aboutus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel" style="color:brown;">🍱 About LAzezz..🍜🥘</h3>
            </div>
            <div class="modal-body">
                Launched in 2023, Our technology platform connects customers, restaurant partners and delivery
                partners, serving their multiple needs. Customers use our platform to search and discover
                restaurants, read and write customer generated reviews and view and upload photos, order food
                delivery, book a table and make payments while dining-out at restaurants. On the other hand, we
                provide restaurant partners with industry-specific marketing tools which enable them to engage and
                acquire customers to grow their business while also providing a reliable and efficient last mile
                delivery service. We also operate a one-stop procurement solution, Hyperpure, which supplies high
                quality ingredients and kitchen products to restaurant partners. We also provide our delivery
                partners with transparent and flexible earning opportunities.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Privacy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Our Privacy Policy</h3>
            </div>
            <div class="modal-body">

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h3 style="color:brown;">LAzezz.. Policy 🍷🍰</h3>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Last updated on April 22, 2023.<br>
                                    <hr>

                                    Lazezzz Limited (Formerly known as Lazezzz Private Limited and Lazezzz Media Private
                                    Limited) and/or its affiliates ("Lazezzz," the "Company," "we," "us," and "our,")
                                    respect your privacy and is committed to protecting it through its compliance with
                                    its privacy policies. This policy describes:

                                    the types of information that Lazezzz may collect from you when you access or use
                                    its
                                    websites, applications and other online services (collectively, referred as
                                    "Services"); and
                                    its practices for collecting, using, maintaining, protecting and disclosing that
                                    information.
                                    This policy applies only to the information Lazezzz collects through its Services,
                                    in
                                    email, text and other electronic communications sent through or in connection with
                                    its Services.

                                    This policy DOES NOT apply to information that you provide to, or that is collected
                                    by, any third-party, such as restaurants at which you make reservations and/or pay
                                    through Lazezzz's Services and social networks that you use in connection with its
                                    Services. Lazezzz encourages you to consult directly with such third-parties about
                                    their privacy practices.
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h3 style="color:brown;"> 🍔The information we collect and how we use it </h3>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>@ Your Personal Information("PI") - Personal Information is the information that
                                    can be associated with a specific person and could be used to identify that specific
                                    person whether from that data, or from the data and other information that we have,
                                    or is likely to have access to. We do not consider personal information to include
                                    information that has been made anonymous or aggregated so that it can no longer be
                                    used to identify a specific person, whether in combination with other information or
                                    otherwise.
                                    Information about your internet connection, the equipment you use to access our
                                    Services and your usage details.
                                    <br>
                                    @ We collect this information:

                                    directly from you when you provide it to us; and/or
                                    automatically as you navigate through our Services (information collected
                                    automatically may include usage details, IP addresses and information collected
                                    through cookies, web beacons and other tracking technologies).</strong>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h3 style="color:brown;"> 🍔Information We Collect Through Automatic Data Collection
                                    Technologies</h3>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>We may automatically collect certain information about the computer or devices
                                    (including mobile devices) you use to access the Services, and about your use of the
                                    Services, even if you use the Services without registering or logging in.
                                    <br>
                                    Usage information:
                                    <br> Details of your use of our Services, including traffic data,
                                    location data, logs and other communication data and the resources that you access
                                    and use on or through our Services.
                                    Computer and device information:<br> Information about your computer, Internet
                                    connection and mobile device, including your IP address, operating systems,
                                    platforms, browser type, other browsing information (connection, speed, connection
                                    type etc.), device type, device's unique device identifier, mobile network
                                    information and the device's telephone number.
                                    Stored information and files:<br> Our applications also may access metadata and
                                    other
                                    information associated with other files stored on your mobile device. This may
                                    include, for example, photographs, audio and video clips, personal contacts and
                                    address book information.
                                    Location information:<br> Our applications collect real-time information about the
                                    location of your device, as permitted by you.
                                    Last URL visited:<br> The URL of the last web page you visited before visiting our
                                    websites.
                                    Mobile device IDs:<br> Unique mobile device identifier (e.g. IDFA or other device
                                    IDs on
                                    Apple devices like the iPhone and iPad), if you're using our Services on a mobile
                                    device, we may use mobile device IDs (the unique identifier assigned to a device by
                                    the manufacturer), instead of cookies, to recognize you. We may do this to store
                                    your preferences and track your use of our applications. Unlike cookies, mobile
                                    device IDs cannot be deleted. Advertising companies may use device IDs to track your
                                    use of our applications, track the number of advertisements displayed, measure
                                    advertising performance and display advertisements that are more relevant to you.
                                    Analytics companies may use mobile device IDs to track your usage of our
                                    applications.
                                    Your preferences:<br> Your preferences and settings such as time zone and language.
                                    Your activity on the Services: Information about your activity on the Services, such
                                    as your search queries, comments, domain names, search results selected, number of
                                    clicks, pages viewed and the order of those pages, how long you visited our
                                    Services, the date and time you used the Services, error logs, and other similar
                                    information.
                                    Mobile status:<br> For mobile application users, the online or offline status of
                                    your
                                    application.
                                    Applications:<br> If you use the Lazezzz application, Lazezzz may collect
                                    information
                                    about the presence and/ or absence and/ or details pertaining to other applications
                                    on your mobile phone. The applications we gather information for, may vary across
                                    categories including, without limitation, shopping, fashion, food and travel. This
                                    will help us understand you and your preferences better and enable Lazezzz to
                                    provide
                                    you with a personalized experience.</strong>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- <div class="modal fade" id="Contactus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel" style="color:brown;">About LAzezz..</h3>
            </div>
            <div class="modal-body">
                
                


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div> -->



<div class="modal fade" id="Contactus" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Query please-</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="get" action="">
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Recipient:&nbsp;<strong
                                style="color:crimson;">info@LAzezz.com</strong></label>

                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                    data-bs-dismiss="modal">Send Request</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">THank YOU..</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <strong style="font-size: 30px;">Your Request is Sucessfully send to Lazezz teams...👨‍🍳👩‍🍳</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="TC" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel" style="color:brown;">🍱 Terms Of Service 🥘</h3>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
            <div class="modal-body">
                <h2 style="color: blue;"> I. <input type="checkbox" checked /> Acceptance of terms </h2>
                <hr>

                <p>These Terms are effective for all existing and future Lazezzz customers, including but without
                    limitation to users having access to 'restaurant business page' to manage their claimed business
                    listings.

                    Please read these Terms carefully. By accessing or using the Lazezzz Platform, you are agreeing to
                    these Terms and concluding a legally binding contract with Lazezzz Limited (formerly known as
                    Lazezzz
                    Private Limited and Lazezzz Media Private Limited) and/or its affiliates (excluding Lazezzz Foods
                    Private Limited) (hereinafter collectively referred to as "Lazezzz"). You may not use the Services
                    if
                    you do not accept the Terms or are unable to be bound by the Terms. Your use of the Lazezzz Platform
                    is at your own risk, including the risk that you might be exposed to content that is objectionable,
                    or otherwise inappropriate.
                    In order to use the Services, you must first agree to the Terms.
                    You can accept the Terms by:
                    @ Clicking to accept or agree to the Terms, where it is made available to you by Lazezzz in the user
                    interface for any particular Service; or
                    Actually using the Services.
                    @In this case, you understand and agree that Lazezzz will treat your use of the Services as
                    acceptance of the Terms from that point onwards.
                </p>

                <p>
                    II. Definitions
                    Customer
                    "Customer" or "You" or "Your" refers to you, as a customer of the Services. A customer is someone
                    who accesses or uses the Services for the purpose of sharing, displaying, hosting, publishing,
                    transacting, or uploading information or views or pictures and includes other persons jointly
                    participating in using the Services including without limitation a user having access to 'restaurant
                    business page' to manage claimed business listings or otherwise.

                    Content
                    "Content" will include (but is not limited to) reviews, images, photos, audio, video, location data,
                    nearby places, and all other forms of information or data. "Your content" or "Customer Content"
                    means content that you upload, share or transmit to, through or in connection with the Services,
                    such as likes, ratings, reviews, images, photos, messages, chat communication, profile information,
                    or any other materials that you publicly display or displayed in your account profile. "Lazezzz
                    Content" means content that Lazezzz creates and make available in connection with the Services
                    including, but not limited to, visual interfaces, interactive features, graphics, design,
                    compilation, computer code, products, software, aggregate ratings, reports and other usage-related
                    data in connection with activities associated with your account and all other elements and
                    components of the Services excluding Your Content and Third Party Content. "Third Party Content"
                    means content that comes from parties other than Lazezzz or its Customers, such as Restaurant
                    Partners and is available on the Services.

                    Restaurant(s)
                    "Restaurant" means the restaurants listed on Lazezzz Platform.

                    III. Eligibility to use the services
                    You hereby represent and warrant that you are at least eighteen (18) years of age or above and are
                    fully able and competent to understand and agree the terms, conditions, obligations, affirmations,
                    representations, and warranties set forth in these Terms.

                    Compliance with Laws. You are in compliance with all laws and regulations in the country in which
                    you live when you access and use the Services. You agree to use the Services only in compliance with
                    these Terms and applicable law, and in a manner that does not violate our legal rights or those of
                    any third party(ies).

                    IV. Changes to the terms
                    Lazezzz may vary or amend or change or update these Terms, from time to time entirely at its own
                    discretion. You shall be responsible for checking these Terms from time to time and ensure continued
                    compliance with these Terms. Your use of Lazezzz Platform after any such amendment or change in the
                    Terms shall be deemed as your express acceptance to such amended/changed terms and you also agree to
                    be bound by such changed/amended Terms.

                    By using Lazezzz's Services you agree to the following disclaimers:

                    The Content on these Services is for informational purposes only. Lazezzz disclaims any liability
                    for
                    any information that may have become outdated since the last time the particular piece of
                    information was updated. Lazezzz reserves the right to make changes and corrections to any part of
                    the Content on these Services at any time without prior notice. Lazezzz does not guarantee the
                    quality of the Goods, the prices listed in menus or the availability of all menu items at any
                    Restaurant/Merchant. Unless stated otherwise, all pictures and information contained on these
                    Services are believed to be owned by or licensed to Lazezzz. Please email a takedown request (by
                    using the "Contact Us" link on the home page) to the webmaster if you are the copyright owner of any
                    Content on these Services and you think the use of the above material violates Your copyright in any
                    way. Please indicate the exact URL of the webpage in your request. All images shown here have been
                    digitized by Lazezzz. No other party is authorized to reproduce or republish these digital versions
                    in any format whatsoever without the prior written permission of Lazezzz.
                    Any certification, licenses or permits ("Certification") or information in regard to such
                    Certification that may be displayed on the Restaurant's listing page on the Lazezzz Platform is for
                    informational purposes only. Such Certification is displayed by Lazezzz on an 'as available' basis
                    that is provided to Lazezzz by the Restaurant partner(s)/Merchant(s). Lazezzz does not make any
                    warranties about the validity, authenticity, reliability and accuracy of such Certification or any
                    information displayed in this regard. Any reliance by a Customer upon the Certification or
                    information thereto shall be strictly at such Customer's own risk and Lazezzz in no manner shall
                    assume any liability whatsoever for any losses or damages in connection with the use of this
                    information or for any inaccuracy, invalidity or discrepancy in the Certification or non-compliance
                    of any applicable local laws or regulations by the Restaurant partner/Merchant.
                    Lazezzz reserves the right to charge a subscription and/or membership fee in respect of any of its
                    product or service and/or any other charge or fee on a per order level from Customers, in respect of
                    any of its product or service on the Lazezzz Platform anytime in future.

                    Lazezzz may from time to time introduce referral and/or incentive based programs for its Customers
                    (Program). These Program(s) may be governed by their respective terms and conditions. By
                    participating in the Program, Customers are bound by the Program terms and conditions as well as the
                    Lazezzz Platform terms. Further, Lazezzz reserves the right to terminate / suspend the Customer's
                    account and/or credits / points earned and/or participation of the Customer in the Program if
                    Lazezzz
                    determines in its sole discretion that the Customer has violated the rules of the Program and/or has
                    been involved in activities that are in contravention of the Program terms and/or Lazezzz Platform
                    terms or has engaged in activities which are fraudulent / unlawful in nature. Furthermore, Lazezzz
                    reserves the right to modify, cancel and discontinue its Program without notice to the Customer.

                    Lazezzz may from time to time offer to the Customers credits, promo codes, vouchers or any other
                    form
                    of cashback that Lazezzz may decide at its discretion. Lazezzz reserves the right to modify,
                    convert,
                    cancel and/or discontinue such credits, promo codes or vouchers, as it may deem fit.

                    VII. Use of services by you or Customer
                    1. Lazezzz Customer Account Including 'Claim Your Business Listing' Access
                    a. You must create an account in order to use some of the features offered by the Services,
                    including without limitation to 'claim your business listing' on the Services. Use of any personal
                    information you provide to us during the account creation process is governed by our Privacy Policy.
                    You must keep your password confidential and you are solely responsible for maintaining the
                    confidentiality and security of your account, all changes and updates submitted through your
                    account, and all activities that occur in connection with your account.

                    b. You may also be able to register to use the Services by logging into your account with your
                    credentials from certain third party social networking sites (e.g., Facebook). You confirm that you
                    are the owner of any such social media account and that you are entitled to disclose your social
                    media login information to us. You authorize us to collect your authentication information, and
                    other information that may be available on or through your social media account consistent with your
                    applicable settings and instructions.

                    c. In creating an account and/or claiming your business' listing, you represent to us that all
                    information provided to us in such process is true, accurate and correct, and that you will update
                    your information as and when necessary in order to keep it accurate. If you are creating an account
                    or claiming a business listing, then you represent to us that you are the owner or authorized agent
                    of such business. You may not impersonate someone else, create or use an account for anyone other
                    than yourself, provide an email address other than your own, create multiple accounts or business
                    listings except as otherwise authorized by us, or provide or use false information to obtain access
                    to a business' listing on the Services that you are not legally entitled to claim. You acknowledge
                    that any false claiming of a business listing may cause Lazezzz or third parties to incur
                    substantial
                    economic damages and losses for which you may be held liable and accountable.

                    d. You are also responsible for all activities that occur in your account. You agree to notify us
                    immediately of any unauthorized use of your account in order to enable us to take necessary
                    corrective action. You also agree that you will not allow any third party to use your Lazezzz
                    account
                    for any purpose and that you will be liable for such unauthorized access.

                    e. By creating an account, you agree to receive certain communications in connection with Lazezzz
                    Platform or Services. For example, you might receive comments from other Customers or other
                    Customers may follow the activity to do on your account. You can opt-out or manage your preferences
                    regarding non-essential communications through account settings.

                    2. Others Terms
                    a. In order to connect you to certain restaurants, we provide value added telephony services through
                    our phone lines, which are displayed on the specific restaurant listing page on the Lazezzz
                    Platform,
                    which connect directly to restaurants' phone lines. We record all information regarding this call
                    including the voice recording of the conversation between you, and the restaurant (for internal
                    billing tracking purposes and customer service improvement at the restaurant's end). If you do not
                    wish that your information be recorded in such a manner, please do not use the telephone services
                    provided by Lazezzz. You explicitly agree and permit Lazezzz to record all this information when you
                    avail the telephony services through the Lazezzz provided phone lines on the Lazezzz Platform.

                    b. You agree to use the Services only for purposes that are permitted by (a) the Terms and (b) any
                    applicable law, regulation or generally accepted practices or guidelines in the relevant
                    jurisdictions.

                    c. You agree to use the data owned by Lazezzz (as available on the Services or through any other
                    means like API etc.) only for personal use/purposes and not for any commercial use (other than in
                    accordance with 'Claim Your Business Listing' access) unless agreed to by/with Lazezzz in writing.

                    d. You agree not to access (or attempt to access) any of the Services by any means other than the
                    interface that is provided by Lazezzz, unless you have been specifically allowed to do so, by way of
                    a separate agreement with Lazezzz. You specifically agree not to access (or attempt to access) any
                    of
                    the Services through any automated means (including use of scripts or web crawlers) and shall ensure
                    that you comply with the instructions set out in any robots.txt file present on the Services.

                    e. You agree that you will not engage in any activity that interferes with or disrupts the Services
                    (or the servers and networks which are connected to the Services). You shall not delete or revise
                    any material or information posted by any other Customer(s), shall not engage in spamming, including
                    but not limited to any form of emailing, posting or messaging that is unsolicited.
                </p>


                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Reservation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel" style="color:brown;">🍱 Lazezz..bot..🤖</h3>
            </div>
            <div class="modal-body">
                <h2>Please Sign-in and Set Location as Directed...</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>