<!-- Team Start -->
{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
</style>

<hr>

<div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-aos="fade-up" data-wow-delay="0.1s">
            <h3 class="section-title ff-secondary text-center text-success fw-normal"
                style="text-align:center;color:peachpuff;font-size:50px;text-shadow: 1px 2px black;font-family: 'Righteous', cursive;">Our Master Chefs</h3>
            <!-- <h1 class="mb-5 text-white" style="text-shadow: black 2px 2px;"></h1> -->
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="flip-up" data-aos-duration="3000"
                data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" style="border:2px solid black;" src="{% static '/images/team-1.jpg' %}"   alt="">
                    </div>
                    <h5 class="mb-0 text-white">Andrea Pedro</h5>
                    <small class="text-white">Head Chef(North)</small>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-square btn-warning mx-1" href=""><i
                                style="color:blue;text-shadow: 2px 1px black;" class="fab fa-facebook-f"></i></button>
                        <button class="btn btn-square btn-warning mx-1" href=""><i
                                style="color:blue;text-shadow: 2px 1px black;" class="fab fa-twitter"></i></button>
                        <button class="btn btn-square btn-warning mx-1" href=""><i
                                style="color:purple;text-shadow: 2px 1px black;" class="fab fa-instagram"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="flip-up" data-aos-duration="3000"
                data-wow-delay="0.3s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" style="border:2px solid black;" src="{% static '/images/team-2.jpg' %}"
                            alt="">
                    </div>
                    <h5 class="mb-0 text-white">David Miller</h5>
                    <small class="text-white">Best Chef Of Asia 2022</small>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-square btn-warning mx-1" href=""><i
                                style="color:blue;text-shadow: 2px 1px black;" class="fab fa-facebook-f"></i></button>
                        <button class="btn btn-square btn-warning mx-1" href=""><i
                                style="color:blue;text-shadow: 2px 1px black;" class="fab fa-twitter"></i></button>
                        <button class="btn btn-square btn-warning mx-1" href=""><i
                                style="color:purple;text-shadow: 2px 1px black;" class="fab fa-instagram"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="flip-up" data-aos-duration="3000"
                data-wow-delay="0.5s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="{% static '/images/team-3.jpg' %}" alt="">
                    </div>
                    <h5 class="mb-0 text-white">Ram Chandra</h5>
                    <small class="text-white">Best Indian Chef</small>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-square btn-warning mx-1" href=""><i
                                style="color:blue;text-shadow: 2px 1px black;" class="fab fa-facebook-f"></i></button>
                        <button class="btn btn-square btn-warning mx-1" href=""><i
                                style="color:blue;text-shadow: 2px 1px black;" class="fab fa-twitter"></i></button>
                        <button class="btn btn-square btn-warning mx-1" href=""><i
                                style="color:purple;text-shadow: 2px 1px black;" class="fab fa-instagram"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-aos="flip-up" data-aos-duration="3000"
                data-wow-delay="0.7s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" style="border:2px solid black;" src="{% static '/images/team-4.jpg' %}"
                            alt="">
                    </div>
                    <h5 class="mb-0 text-white">Kaushik Ahmed</h5>
                    <small class="text-white">Best Hyderabadi Cook</small>
                    <div class="d-flex justify-content-center mt-3">
                        <button class="btn btn-square btn-warning mx-1" href=""><i
                                style="color:blue;text-shadow: 2px 1px black;" class="fab fa-facebook-f"></i></button>
                        <button class="btn btn-square btn-warning mx-1" href=""><i
                                style="color:blue;text-shadow: 2px 1px black;" class="fab fa-twitter"></i></button>
                        <button class="btn btn-square btn-warning mx-1" href=""><i
                                style="color:purple;text-shadow: 2px 1px black;" class="fab fa-instagram"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->