{% extends 'base.html' %}
{% block myblock %}
<div class="container">
    {% load static %}
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color:white; border-bottom:2px solid orangered">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                
                <a class="navbar-brand" href="addrest"><img src="{% static 'images\myLogo.png' %}" width="50px" alt=""></a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" style="color:orangered; font-size:30px; font-family:'Montserrat'" aria-current="page" href="addrest">Home</a>
                  </li>
                <!-- <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
              </div>
            </div>
          </nav>
    </div>
    <div class="container mb-5 p-3" style="margin-top:200px;">
        <div class="img d-flex justify-content-center">
            <img src="{% static 'images\verified.png' %}" alt="Verified">
        </div>
        <div class="message">
            <h1 class = "text-center p-2 m-2" style="font-family: 'Montserrat';">Wrong Details provided please provide correct details to continue.... <a href="/addrest" class="btn-link">Try Again</a></h1>

        </div>
    </div>
</div>

{% endblock %}